.main_wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    width: 80vw;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    border: 1px solid rgba(128, 128, 128, .2);
    border-radius: 12px;
    padding: 12px;
}

.main_wrapper > .article__name {
    width: 70%;
}

.content_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.current_articles {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80vw;
}

.main_wrapper > .article__image {
    width: 55%;
}

.article__preview_inner_text {
    width: 95%;
}

.main_wrapper > .article__name {
    font-size: 30px;
}

.main_wrapper > .article__main_inner_text {
    display: inline;
    width: 90%;
    line-height: 25px;
    text-align: left;
    word-wrap: break-word;
    margin-left: 20px;
}

.main_wrapper > .article__preview_inner_text {
    display: none;
}

.main_wrapper .article__main_inner_text__item {
    display: block;
    margin-bottom: 7px;
}



@media (max-width: 1200px) {
    .article__name {
        font-size: 14px;
        width: 95%;
    }

    .article__preview_inner_text {
        font-size: 12px;
    }

    .article__image {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 950px) {
    .main_wrapper > .article__image {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .main_wrapper {
        margin-top: 20px;
    }

    .main_wrapper > .article__name {
        font-size: 20px;
        width: 90%;
    }
}

@media (max-width: 850px) {

    .content_wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .article__name {
        font-size: 16px;
        width: 95%;
    }

    .article__preview_inner_text {
        font-size: 13px;
    }

    .article__image {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 650px) {
    .main_wrapper {
        width: 90vw;
    }

    .article__name {
        font-size: 13px;
    }

    .article__preview_inner_text {
        font-size: 10px;
    }

    .main_wrapper .article__main_inner_text {
        font-size: 13px;
    }
}

@media (max-width: 520px) {
    .main_wrapper {
        width: 100vw;
        border: none;
        padding: 10px 0;
    }

    .content_wrapper {
        grid-template-columns: 1fr;
    }

    .article__name {
        font-size: 15px;
    }

    .article__preview_inner_text {
        font-size: 11px;
    }

    .article {
        width: auto;
    }

    .main_wrapper .article__name {
        font-size: 15px;
    }

    .main_wrapper .article__main_inner_text {
        font-size: 12px;
        line-height: 17px;
    }
}

@media (max-width: 450px) {
    .main_wrapper .article__main_inner_text {
        text-align: center;
    }
}

@media (max-width: 400px) {
    .article {
        width: auto;
    }
    
}
